<footer class="ph3 pv4 white" style="background-color: #9c693a;">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/sabali-logo4.png" alt="sabali logo" class="db w10 center mb4 br0">


		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Sabali</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Home</a></li>
					<li><a href="/dev" class="link">Dev</a></li>
					<li><a href="/contact" class="link">Contact</a></li>
				</ul>
			</div>


		</div>
	</div>

</footer>

{{ partial "svg" . }}

<script src="/app.js"></script>

</body>

</html>
